module(load="imudp")
module(load="imtcp")

input(type="imudp" port="514" ruleset="remote")
input(type="imtcp" port="514" ruleset="remote")

template(name="RawOutput" type="string" string="%rawmsg%\n")
template(name="ExtractJSON" type="list") {
  property(name="msg" regex="^[^:]+: (.*)$" format="json")
}

ruleset(name="remote") {
  if ($syslogtag contains "nginx") then {
    action(
      type="omhttp"
      server="victorialogs.$DOMAIN"
      serverport="443"
      usehttps="on"
      endpoint="/insert/jsonline"
      template="ExtractJSON"
      action.resumeRetryCount="-1"
      queue.type="linkedlist"
      queue.size="10000"
    )
  } else {
    action(
      type="omfwd"
      target="prod-grafana001.$DOMAIN"
      port="514"
      protocol="tcp"
      template="RawOutput"
      action.resumeRetryCount="-1"
      queue.type="linkedlist"
      queue.size="10000"
    )
  }
}
