module(load="imudp")
module(load="imtcp")
module(load="omhttp")

input(type="imudp" port="514" ruleset="remote")
input(type="imtcp" port="514" ruleset="remote")

template(name="RawOutput" type="string" string="%rawmsg%\n")
template(name="ExtractJSON" type="string" string="%msg%")

ruleset(name="remote") {
  # Prevent infinite loop
  if $msg contains "/insert/jsonline"  then {
    stop
  }

  if $hostname contains "nginx" then {
    action(
      type="omhttp"
      server="prod-victorialogs001.$DOMAIN"
      serverport="9428"
      usehttps="on"
      restpath="/insert/jsonline"
      template="ExtractJSON"
      action.resumeRetryCount="-1"
      queue.type="linkedlist"
      queue.size="10000"
    )
  } else {
    action(
      type="omfwd"
      target="prod-victorialogs001.$DOMAIN"
      port="514"
      protocol="tcp"
      template="RawOutput"
      action.resumeRetryCount="-1"
      queue.type="linkedlist"
      queue.size="10000"
    )
  }
}
