module(load="imudp")
module(load="imtcp")

input(type="imudp" port="514" ruleset="remote")
input(type="imtcp" port="514" ruleset="remote")

template(name="DataPath" type="list") {
  constant(value="/var/log/")
  property(name="hostname")
  constant(value=".log")
}

template(name="RawOutput" type="string" string="%rawmsg%\n")

ruleset(name="remote") {
  action(
    type="omfile"
    dynaFile="DataPath"
    template="RawOutput"
    fileOwner="root"
    fileGroup="root"
    fileCreateMode="0600"
  )

  action(
    type="omfwd"
    target="dev-grafana001.$DOMAIN"
    port="514"
    protocol="tcp"
    template="RawOutput"
    action.resumeRetryCount="-1"
    queue.type="linkedlist"
    queue.size="10000"
  )
}
